.addButton {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #F4D03F;
    font-size: 2em;
    font-weight: 50;
    cursor: pointer;
    border-style: solid;
    border-width: 3px; 
    border-color: #36454F;
    position: absolute;
    margin-left: 440px;
}