.line {
    width: 90%;
    height: 1px;
    color: #36454F;
    /* background-color: black; */
}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

.notesBody {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.notesCreatorHolder {
    display: flex;
    justify-content: center;
}

.center-screen {
    background-color: #F4D03F;
    min-height: 88vh;
    max-height: 88vh;
    width: 82.5%;
    border-radius: 15%;
    margin: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 3%;
    border-style: solid;
    border-color: gray;
    overflow: auto;
  }

.center-screen::-webkit-scrollbar {
    display: none;
}

@media screen {
    ul {
        width:200px;
    }
}