hr {
    width: 80%;
    height: 1%;
    color: #36454F;
    background-color: black;
}

.note-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.note-body {
    background-color: #e5e5f7;
    height: 20vh;
    width: 20vh;
    border-radius: 15%;
    position: relative;
    margin: 2.5%;
    border-style: solid;
    border-color: #36454F;
    overflow:auto;
    font-family: Arial, sans-serif;
}

.note-body::-webkit-scrollbar {
    display: none;
}