hr {
    width: 80%;
    height: 2%;
    color: #36454F;
    background-color: black;
}

form input,
form textarea {
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
}

form input {
    font-weight: bold;
}

::placeholder {
    color: black;
    opacity: 0.65;
}

.noteCreatorTitle,
.noteCreatorContent {
    margin: 5%;
    padding-left: 6%;
}

.noteCreator-body {
    background-color: #e5e5f7;
    min-width: 480px;
    max-width: 480px;
    height: 200px;
    border-radius: 17%;
    position: relative;
    margin-bottom: 2.5%;
    border-style: solid;
    border-color: #36454F;
    font-family: Arial, sans-serif;
}

.noteCreator-body::-webkit-scrollbar {
    display: none;
}